*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color-scheme: light dark;
}


:root{
  --bg-color: #f4f3ff;
  --btn-color: #646cff;
  --dark-color: #242424;
  --helper-color: #99b9ff;
}

html{
  font-size: 77.5%;
}

body{
  margin: 0;
  min-width: 32rem;
  min-height: 100vh;
  background-color: var(--dark-color);
  color: var(--bg-color);
}

h1{
  font-size: 5.4rem;
  line-height: 1.1;
  font-weight: bold;
}

p,
li,
label,
input,
textarea{
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: 0.1rem;
  word-spacing: 0.06rem;
}

a {
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--btn-color);
  text-decoration: inherit;
}

li{
  list-style: none;
  
}

.container{
  max-width: 140rem;
  padding: 4rem 2.4rem;
  margin: 0 auto;
}

.grid{
  display: grid;
  gap: 6.4rem;
}

/* Module rules/ Reusable */
button{
  padding: 1rem 2.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: var(--btn-color);
  border-radius: 0.8rem;
  border: 0.1rem solid transparent;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: border-color 0.3;
}

/* State rules */
button:hover{
  box-shadow: inset 0 0 0 0.2rem var(--bg-color);
}


