*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color-scheme: light dark;
}


:root{
  --bg-color: #f4f3ff;
  --btn-color: #646cff;
  --dark-color: #242424;
  --helper-color: #99b9ff;

}
html{
  font-size: 77.5%;
}

body{
  margin: 0;
  min-width: 32rem;
  min-height: 100vh;
}

li{
  list-style: none;
  
}